.page-logo a {
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #2073bc;
}

.page-header.navbar .page-logo .logo-default {
    margin: 0;
}

.portlet.light.portlet-fit.portlet-form>.portlet-body .form-actions {
    background-color: #f5f5f5;
}

.form .form-actions, .portlet-form .form-actions {
    padding: 20px;
    margin: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #e7ecf1;
}

@media (max-width: 767px) {
    .table-scrollable .dropdown-menu,
    .table-scrollable .dropdown-toggle {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-scrollable {
        overflow: visible;
    }
}